
@{
    ViewData["Title"] = "Index";
}

@* <h1>Index</h1> *@
@{
    ViewData["Title"] = "Students Page";
}

<h2>Public Students Page</h2>

<p>This page is accessible to everyone.</p>

<a href="/Admin/Dashboard">Go to Admin Dashboard</a>
